:root {
  --light-color: #f95959;
  --dark-color: #455d7a;
  --background-color: #233142;
  --text-color: #e3e3e3;
}

body {
  font-family: 'Orbitron', sans-serif;
  background: var(--background-color);
  color: var(--text-color);
}
h1 {
  text-align: center;
  margin-top: 0;
}
.container {
  max-width: 700px;
  background: var(--dark-color);
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: #ffffff2a 0px 7px 29px 0px;
}
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  outline: none;
  outline-offset: 0;
  border-radius: 5px;
  &:focus {
    border-color: var(--light-color);
  }
}
h2 {
  font-size: 1.8rem;
  margin: 0 0 5px 0;
  font-family: Arial, Helvetica, sans-serif;
}
.city {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--background-color);
  padding: 20px;
  margin: 10px auto;
  border-radius: 10px;
  vertical-align: center;
  /* border: 0.5px solid var(--light-color); */
}
.date {
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.7;
}
.time {
  font-size: 2rem;
  font-weight: bold;
}
.time small {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: middle;
  line-height: 48px;
}
a {
  color: var(--light-color);
  &:visited {
    color: #f96d00;
  }
  &:hover {
    color: #f58c8c;
  }
}
footer {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

@media (max-width: 500px) {
  .container {
    padding: 30px 20px;
  }
  h2 {
    font-size: 1.4rem;
  }
  .time {
    font-size: 1.8rem;
  }
  .date {
    font-size: 0.8;
  }
}
@media (max-width: 400px) {
  .container {
    padding: 25px 15px;
  }
  h2 {
    font-size: 1.2rem;
  }
  .time {
    font-size: 1.2rem;
  }
  .time small {
    font-size: 0.8;
  }
  .date {
    font-size: 0.8rem;
  }
}
@media (max-width: 300px) {
  .container {
    padding: 20px 10px;
  }
  h2 {
    font-size: 1rem;
  }
  .time {
    font-size: 1rem;
  }
  .time small {
    font-size: 0.6rem;
  }
  .date {
    font-size: 0.6rem;
  }
}
